{% extends "base.html" %}

{% load static %}

{% block title %}		
	<title>LMS | Categories</title>
{% endblock title %}

{% block body %}
	<div class="container">
		<center>
			<p>Categories</p>
		</center>
		{% for category in categories %}
			<div class="row">
				<div class="col-4">
					<div class="container-fluid">
						<img style="width: 300px; height: 200px;" src="{{ category.image.url }}" alt="{{ category.category }}">
					</div>
				</div>

				<div class="col-8">
					<h3>{{ category.category }}</h3>
					<p>
						{{ category.description }}
					</p>
					<br>
					<a href="#" >
						<button class="btn btn-sm btn-success">star</button>
					</a>
					
					<a href="{% url 'Home:likeCategory' category.slug %}" >
						<button class="btn btn-sm btn-info">{{ category.popularity }} like</button>
					</a>

					<a href="{% url 'Home:categoryList' category.slug %}" >
						<button class="btn btn-sm btn-primary">view</button>
					</a>
				</div>
			</div>
			<br>
		{% endfor %}
	</div>
{% endblock body %}
