{% extends "base.html" %}

{% load static %}

{% block title %}
	<title>LMS | {{ course.course }}</title>
{% endblock title %}

{% block body %}
	<p>
		{{ course.title }}
	</p>
	<div class="row">
		<div class="col-7 col-sm-6">
			{% for video in videos %}
				<div class="row">
					<div class="col-4">
						<video width="300px" height="200px" controls>
						     <source src="{{ video.file.url }}" type="video/mp4">
						</video>
					</div>

					<div class="col-8">
						<h5>{{ video.title }}</h5>
						<p>
							{{ video.description }}
						</p>
						<a style="color: white;" href="{{ video.file.url }}">
							<button class="btn btn-sm btn-primary">Watch</button>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="col-5 col-sm-6 custom-scroll">
			<h3>{{ course.course }}</h3>

			<p>
				{{ course.description }}
			</p>
		</div>
	</div>
{% endblock body %}
