{% extends "base.html" %}

{% load static %}

{% block title %}		
	<title>NodeWe | Home</title>
{% endblock title %}

{% block body %}
	<div class="container">
		<center>
			<p>Available Courses</p>
		</center>
		{% for course in courses %}
			<div class="row">
				<div class="col-4">
					<div class="container-fluid">
						<img style="width: 300px; height: 200px;" src="{{ course.image.url }}" alt="{{ course.course }}">
					</div>
				</div>

				<div class="col-8">
					<h3>{{ course.course }}</h3>
					<p>
						{{ course.description }}
					</p>
					<br>
					<a href="#" >
						<button class="btn btn-sm btn-success">star</button>
					</a>
					
					<a href="{% url 'Home:likeCourse' course.slug %}" >
						<button class="btn btn-sm btn-info">{{ course.popularity }} like</button>
					</a>

					<a href="{% url 'Home:courseList' course.slug %}" >
						<button class="btn btn-sm btn-primary">view</button>
					</a>
				</div>
			</div>
			<br>
		{% endfor %}
	</div>
{% endblock body %}
