{% extends "dashboardBase.html" %}
{% load static %}


{% block title %}    
    <title>Mailbox | NodeWe </title>
{% endblock title %}

{% block bread_crumb %}
	<div class="breadcome-area">
	    <div class="container-fluid">
	        <div class="row">
	            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	                <div class="breadcome-list single-page-breadcome">
	                    <div class="row">
	                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	                            <div class="breadcome-heading">
	                                <form role="search" class="sr-input-func">
	                                    <input type="text" placeholder="Search..."
	                                        class="search-int form-control">
	                                    <a href="#"><i class="fa fa-search"></i></a>
	                                </form>
	                            </div>
	                        </div>
	                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	                            <ul class="breadcome-menu">
	                                <li><a href="{% url 'Home:dashboard' %}">NodeWe</a> <span class="bread-slash">/</span>
	                                </li>
	                                <li><span class="bread-blod">Mailbox</span>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
{% endblock bread_crumb %}

{% block body %}
	<div class="mailbox-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                {% include "components/mailSideBar.html" %}

                <div class="col-md-9 col-md-9 col-sm-9 col-xs-12">
                    <div class="hpanel">
                        <div class="panel-heading hbuilt mailbox-hd">
                            <div class="text-center p-xs font-normal">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" placeholder="Search email in your inbox..."> <span class="input-group-btn active-hook"> <button type="button" class="btn btn-sm btn-default">Search
										</button> </span></div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6 col-md-6 col-sm-6 col-xs-8">
                                    <div class="btn-group ib-btn-gp active-hook mail-btn-sd mg-b-15">
                                        <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
                                        <button class="btn btn-default btn-sm"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-default btn-sm"><i class="fa fa-exclamation"></i></button>
                                        <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                                        <button class="btn btn-default btn-sm"><i class="fa fa-check"></i></button>
                                        <button class="btn btn-default btn-sm"><i class="fa fa-tag"></i></button>
                                    </div>
                                </div>
                                <div class="col-md-6 col-md-6 col-sm-6 col-xs-4 mailbox-pagination">
                                    <div class="btn-group ib-btn-gp active-hook mail-btn-sd mg-b-15">
                                        <button class="btn btn-default btn-sm"><i class="fa fa-arrow-left"></i></button>
                                        <button class="btn btn-default btn-sm"><i class="fa fa-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive ib-tb">
                                <table class="table table-hover table-mailbox">
                                    <tbody>
                                        {% for message in inbox %}
                                            <tr class="unread">
                                                <td class="">
                                                    <div class="checkbox checkbox-single checkbox-success">
                                                        <input type="checkbox" checked>
                                                        <label></label>
                                                    </div>
                                                </td>
                                                <td><a href="{{ message.get_details }}">{{ message.recipient.get_full_name }}</a></td>
                                                <td><a href="{{ message.get_details }}" class="text-truncate">{{ message.subject }}</a>
                                                </td>
                                                {% if message.attachement %}                                                
                                                    <td><i class="fa fa-paperclip"></i></td>
                                                {% endif %}
                                                <td class="text-right mail-date">{{ message.date|date:"d M, h:i A" }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="panel-footer ib-ml-ft">
                            <i class="fa fa-eye"> </i> 6 unread
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
