<!doctype html>
<html class="no-js" lang="">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>400 Error</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <!-- Google Fonts
        ============================================ -->
    <link href="{% static 'https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'student/css/bootstrap.min.css' %}">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'student/css/font-awesome.min.css' %}">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'student/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'student/css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'student/css/owl.transitions.css' %}">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'student/css/animate.css' %}">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'student/css/normalize.css' %}">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'student/css/main.css' %}">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'student/css/morrisjs/morris.css' %}">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'student/css/scrollbar/jquery.mCustomScrollbar.min.css' %}">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'student/css/metisMenu/metisMenu.min.css' %}">
    <link rel="stylesheet" href="{% static 'student/css/metisMenu/metisMenu-vertical.css' %}">
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'student/css/calendar/fullcalendar.min.css' %}">
    <link rel="stylesheet" href="{% static 'student/css/calendar/fullcalendar.print.min.css' %}">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'student/style.css' %}">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'student/css/responsive.css' %}">
    <!-- modernizr JS
        ============================================ -->
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="{% static 'http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="error-pagewrap">
        <div class="error-page-int">
            <div class="content-error">
                <h1>ERROR <span class="counter"> 400</span></h1>
                <p>Sorry, the page you searched for was not found. Try checking the URL for the error, then hit the refresh button on your browser or try found something else in our app.</p>
                <a href="{% url 'Home:dashboard' %}">Dashboard</a>
                <a href="#">Report Problem</a>
            </div>
            <div class="text-center login-footer">
        <p class="text-white text-center mt-5">Copyright &copy;
          <script>document.write(new Date().getFullYear());</script> All rights reserved |
          NodeWe.com</a></p>
            </div>
        </div>   
    </div>
    <!-- jquery
        ============================================ -->
    <script src="{% static 'student/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="{% static 'student/js/bootstrap.min.js' %}"></script>
    <!-- wow JS
        ============================================ -->
    <script src="{% static 'student/js/wow.min.js' %}"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="{% static 'student/js/jquery-price-slider.js' %}"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="{% static 'student/js/jquery.meanmenu.js' %}"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="{% static 'student/js/owl.carousel.min.js' %}"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="{% static 'student/js/jquery.sticky.js' %}"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="{% static 'student/js/jquery.scrollUp.min.js' %}"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="{% static 'student/js/scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'student/js/scrollbar/mCustomScrollbar-active.js' %}"></script>
    <!-- counterup JS
        ============================================ -->
    <script src="{% static 'student/js/counterup/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'student/js/counterup/waypoints.min.js' %}"></script>
    <script src="{% static 'student/js/counterup/counterup-active.js' %}"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="{% static 'student/js/metisMenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'student/js/metisMenu/metisMenu-active.js' %}"></script>
    <!-- morrisjs JS
        ============================================ -->
    <script src="{% static 'student/js/sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'student/js/sparkline/jquery.charts-sparkline.js' %}"></script>
    <!-- calendar JS
        ============================================ -->
    <script src="{% static 'student/js/calendar/moment.min.js' %}"></script>
    <script src="{% static 'student/js/calendar/fullcalendar.min.js' %}"></script>
    <script src="{% static 'student/js/calendar/fullcalendar-active.js' %}"></script>
    <!-- tab JS
        ============================================ -->
    <script src="{% static 'student/js/tab.js' %}"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="{% static 'student/js/plugins.js' %}"></script>
    <!-- main JS
        ============================================ -->
    <script src="{% static 'student/js/main.js' %}"></script>
     <!-- tawk chat JS
        ============================================ -->
    <script src="{% static 'student/js/tawk-chat.js' %}"></script>
</body>

</html>