<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <div class="courses-inner mg-t-30">
        <div class="courses-title">
            <a href="#"><img src="{{ course.image.url }}" alt=""></a>
            <h2>{{ course.course }}</h2>
        </div>
        <div class="courses-alaltic">
            <span class="cr-ic-r"><span class="course-icon"><i class="fa fa-clock"></i></span>{{ course.date | date }}</span>
            <span class="cr-ic-r"><span class="course-icon"><i class="fa fa-heart"></i></span> {{ course.get_likes.count }}</span>
            <span class="cr-ic-r"><span class="course-icon"><i class="fa fa-dollar"></i></span> {{ course.price }}</span><br>
            <span><i class="fa fa-star" style="color: #ff6427;"></i></span></span>
            <span><i class="fa fa-star" style="color: #ff6427;"></i></span></span>
            <span><i class="fa fa-star" style="color: #ff6427;"></i></span></span>
            <span><i class="fa fa-star" style="color: #ff6427;"></i></span></span>
            <span><i class="fa fa-star-half-o" style="color: #ff6427;"></i></span></span>
        </div>
        <div class="course-des">
            <p><span><i class="fa fa-clock"></i></span> <b>Duration:</b> {{ course.pretty_duration }}</p>
            <p><span><i class="fa fa-clock"></i></span> <b>Professor:</b> {{ course.tutor.get_full_name }}</p>
            <p><span><i class="fa fa-clock"></i></span> <b>Students:</b> 100+</p>
        </div>
        <div class="product-buttons">
            <button type="button" class="button-default cart-btn">Read More</button>
        </div>
    </div>
</div>
