<div class="col-md-3 col-md-3 col-sm-3 col-xs-12">
    <div class="hpanel shadow-inner responsive-mg-b-30">
        <div class="panel-body">
            <a href="{% url 'Home:mailboxCompose' %}" class="btn btn-success compose-btn btn-block m-b-md">Compose</a>
            <ul class="mailbox-list">
                <li>
                    <a href="{% url 'Home:mailbox' %}">
                        <span class="pull-right">{{ inbox_count }}</span>
                        <i class="fa fa-envelope"></i> Inbox
                    </a>
                </li>
                <li>
                    <a href="{% url 'Home:mailboxSent' %}">
                        <span class="pull-right">{{ sent_count }}</span>
                        <i class="fa fa-paper-plane"></i> Sent
                    </a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-pencil"></i> Draft</a>
                </li>
                <li>
                    <a href="{% url 'Home:mailboxTrash' %}"><i class="fa fa-trash"></i> Trash</a>
                </li>
            </ul>
            <hr>
            <ul class="mailbox-list">
                <li>
                    <a href="#"><i class="fa fa-plane text-danger"></i> Travel</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bar-chart text-warning"></i> Finance</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-users text-info"></i> Social</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-tag text-success"></i> Promos</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-flag text-primary"></i> Updates</a>
                </li>
            </ul>
            <hr>
            <ul class="mailbox-list">
                <li>
                    <a href="#"><i class="fa fa-gears"></i> Settings</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-info-circle"></i> Support</a>
                </li>
            </ul>
        </div>
    </div>
</div>